# code: language=yaml
#
# Namespace for the Istio control plane (istio-system)
#

---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $state.name }}-control-plane-namespace
  annotations:
    {{ setResourceNameAnnotation "control-plane-namespace" }}
  labels: {{ $state.labels | toJson }}
spec:
  managementPolicies: {{ $state.managementPolicies | toJson }}
  forProvider:
    manifest:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: {{ $state.namespace }}
        labels: {{ $state.labels | toJson }}
  providerConfigRef:
    name: {{ $state.kubernetesProviderConfigRef.name }}
    kind: {{ $state.kubernetesProviderConfigRef.kind }}
