# code: language=yaml
#
# Output XR status
#

{{- $xr := getCompositeResource . }}
---
apiVersion: {{ $xr.apiVersion }}
kind: {{ $xr.kind }}
status:
  ready: {{ $state.status.ready }}
  base:
    ready: {{ $state.observed.base.ready }}
  istiod:
    ready: {{ $state.observed.istiod.ready }}
  cni:
    ready: {{ $state.observed.cni.ready }}
  ztunnel:
    ready: {{ $state.observed.ztunnel.ready }}
  gateway:
    ready: {{ $state.observed.gateway.ready }}
  extensionProviders:
    configured: {{ $state.observed.extensionProviders.configured | toJson }}
    ready: {{ $state.observed.extensionProviders.ready }}
